ion-toolbar{    

    //BACK BUTTON
    ion-icon{
        padding-right: 0px;
        padding-left: 10px;  
        width: 30px;
        height: 30px;
        // padding-bottom: 20px; 
        
        
     
    } 


    //LOGO
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        // padding-top: 0px;
       
        width: 80px;
        height: 80px;


        
    }
}


